language: rust
cache: cargo
dist: trusty
sudo: false
rust:
  - stable
  - nightly

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-5
      - cmake
      - libcurl4-openssl-dev
      - libelf-dev
      - libdw-dev
      - cmake
      - gcc
      - binutils-dev

env:
  global:
    - RUST_BACKTRACE="1"

script:
    - cargo clippy
    - cargo test --all --verbose
