language: rust
cache: cargo
dist: trusty
sudo: false
rust:
  - stable

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-5
      - cmake
      - libcurl4-openssl-dev
      - libelf-dev
      - libdw-dev
      - cmake
      - gcc
      - binutils-dev

env:
  global:
    - RUST_BACKTRACE="1"

before_script:
    - just || curl -LSfs https://japaric.github.io/trust/install.sh |
        sh -s -- --git casey/just --target x86_64-unknown-linux-musl --to ~/.cargo/bin

script:
    - just travis

