[package]
name = "witnet"
version = "0.1.2"
authors = ["Witnet Foundation <info@witnet.foundation>"]
publish = false
repository = "witnet/witnet-rust"
readme = "README.md"
license-file = "LICENSE"
keywords = ["witnet", "blockchain", "smart-contracts", "DON", "cryptocurrency", "crypto", "oracles", "protocol", "p2p", "rust"]
description = "An in-progress open source implementation of the Witnet protocol written in Rust."
edition = "2018"

[workspace]
members = ["config", "core", "crypto", "data_structures", "p2p", "storage", "wallet"]

[badges]
travis-ci = { repository = "https://github.com/witnet/witnet-rust", branch = "master" }

[dependencies]
bytecount = "0.5.1"
ctrlc = "3.1.1"
env_logger = "0.6.0"
failure = "0.1.5"
just = "0.3.13"
log = "0.4.6"
serde_json = "1.0.38"
structopt = "0.2.14"
toml = "0.4.10"

witnet_config = { path = "./config" }
witnet_core = { path = "./core" }
witnet_crypto = { path = "./crypto" }
witnet_data_structures = { path = "./data_structures" }
witnet_p2p = { path = "./p2p" }
witnet_rad = { path = "./rad" }
witnet_storage = { path = "./storage", features = ["rocksdb-backend"] }
witnet_util = { path = "./util" }

[dependencies.serde]
features = ["derive"]
version = "1.0.88"

[profile.dev]
opt-level = 0

[profile.release]
opt-level = 3
