# You can read more about all the configuration params in
# https://docs.witnet.io/configuration/toml-file/
[connections]
server_addr = "0.0.0.0:21337"
known_peers = ["52.166.178.145:21337", "52.166.178.145:22337", "52.166.178.145:23337", "52.166.178.145:24337", "52.166.178.145:25337"]
outbound_limit = 4
bootstrap_peers_period_seconds = 1

[storage]
db_path = ".witnet"

[jsonrpc]
enabled = true
server_address = "127.0.0.1:21338"

[consensus_constants]
checkpoints_period = 30
checkpoint_zero_timestamp = 1584111600
bootstrap_hash = "00000000000000000000000000000000000000007769746e65742d302e372e30"
genesis_hash = "7a7a438b857e8a50fb3281df32b34f8acd930da8f0d51f308903c8a55e6ff7a9"
mining_replication_factor = 1
activity_period = 240

[ntp]
update_period_seconds = 8000000

[mining]
enabled = true
data_request_timeout_milliseconds = 2000
genesis_path = "genesis_block.json"

[log]
level = "debug"

[wallet]
testnet = true
node_url = "127.0.0.1:21338"
