[package]
authors = ["Witnet Foundation <info@witnet.foundation>"]
edition = "2018"
name = "witnet_wallet"
version = "0.1.2"
workspace = ".."

[dependencies]
bip39 = "0.6.0-beta.1"
failure = "*"
hmac = "*"
secp256k1 = "*"
sha2 = "*"
