[package]
authors = ["Witnet Foundation <info@witnet.foundation>"]
edition = "2018"
name = "witnet_wallet"
version = "0.2.0"
workspace = ".."

[dependencies]
actix = "0.7.9"
async-jsonrpc-client = { git = "https://github.com/witnet/async-jsonrpc-client", features = ["tcp"] }
log = "0.4.6"
env_logger = "0.6.1"
jsonrpc-core = "11.0.0"
futures = "0.1.26"
serde = { version = "1.0.90", features = ["derive"] }
serde_json = "1.0.39"
clap = "2.33.0"
rocksdb = "0.12.2"
failure = "0.1.5"

witnet_net = { path = "../net" }
witnet_config = { path = "../config" }
witnet_storage = { path = "../storage" }
bincode = "1.1.3"

