[package]
name = "witnet_storage"
version = "0.3.0"
authors = ["Witnet Foundation <info@witnet.foundation>"]
workspace = ".."
edition = "2018"
description = "Witnet storage module that conveniently abstracts a key/value API away from specific storage backends"

[dependencies]
failure = "0.1.5"
rocksdb = { version = "0.12.0", optional = true }
witnet_crypto = { path = "../crypto", optional = true }
witnet_protected = { path = "../protected", optional = true }

[features]
rocksdb-backend = ["rocksdb"]
crypto-backend = ["witnet_crypto", "witnet_protected"]
