[package]
name = "witnet_storage"
version = "0.3.2"
authors = ["Witnet Foundation <info@witnet.foundation>"]
workspace = ".."
edition = "2021"
description = "Witnet storage module that conveniently abstracts a key/value API away from specific storage backends"

[dependencies]
failure = "0.1.8"
rocksdb = { version = "0.13.0", optional = true }

[features]
rocksdb-backend = ["rocksdb"]
