[package]
name = "witnet_crypto"
version = "0.3.1"
authors = ["Witnet Foundation <info@witnet.foundation>"]
workspace = ".."
description = "crypto component"
edition = "2018"

[dependencies]
failure = "0.1.5"
hmac = "0.7.0"
rust-crypto = "0.2.36"
secp256k1 = "0.12.2"
sha2 = "0.8.0"
tiny-bip39 = "0.6.0"
memzero = "0.1.0"
rand = "0.6.5"
witnet_protected = { path = "../protected" }
serde = "1.0.91"
