name: Validate

on:
  pull_request:
    types: [opened, synchronize, reopened]

env:
  CARGO_TERM_COLOR: always

jobs:
  Build:

    runs-on: ubuntu-latest

    env:
      RUST_BACKTRACE: 1
      CLIPPY_LINTS: >-
        -D warnings
        -D clippy::cast-lossless
        -D clippy::cast-possible-truncation
        -D clippy::cast-possible-wrap
        -D clippy::cast-precision-loss
        -D clippy::cast-sign-loss
        -D clippy::checked-conversions
        -A non_local_definitions
        -A clippy::upper-case-acronyms
        -A clippy::uninlined-format-args
      ROCKSDB_INCLUDE_DIR: /usr/local/include
      ROCKSDB_LIB_DIR: /usr/local/lib
      LD_LIBRARY_PATH: /usr/local/lib

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # Ensure some subcrate versions match that of the main crate
      - name: Checking version of node
        uses: ./.github/actions/versions-match
        with:
          subcrate: node

      - name: Checking version of wallet
        uses: ./.github/actions/versions-match
        with:
          subcrate: wallet

      - name: Checking version of toolkit
        uses: ./.github/actions/versions-match
        with:
          subcrate: toolkit

      - name: Checking version of data_structures
        uses: ./.github/actions/versions-match
        with:
          subcrate: data_structures

      - name: Checking version of bridges/centralized-ethereum
        uses: ./.github/actions/versions-match
        with:
          subcrate: bridges/centralized-ethereum

      - name: Setup Rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: 1.89.0
          components: rustfmt,clippy

      - name: Show Rust toolchain
        run: rustup show

      - name: Install Just command runner
        uses: taiki-e/install-action@just

      - name: Formatter
        run: just fmt

      - name: Install compilation system dependencies
        run: |
          sudo apt-get update -y -qq
          sudo apt-get install -y g++-9 cmake libcurl4-openssl-dev libelf-dev libdw-dev cmake gcc binutils-dev protobuf-compiler

      - name: Compile and install RocksDB
        run: |
          git clone https://github.com/facebook/rocksdb.git
          cd rocksdb
          git checkout v10.2.1
          make shared_lib
          sudo make install-shared

      - name: Clippy
        run: just clippy

      # Run cargo tests single threaded as concurrent tests could fail due to changes in the global ProtocolVersion
      - name: Test
        run: cargo test --all --verbose -- --test-threads=1

      # This is used to ensure that Cargo.lock is up to date
      - name: Check for unstaged files
        run: git diff --exit-code
